.purple-ball {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 868px;
  top: -2px;
  z-index: -1;
  border-radius: 50%;

  background: $purple-ball;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
}

.red-ball {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;
  border-radius: 50%;
  z-index: -1;

  background: $red-ball;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.small-red-ball {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  border-radius: 50%;
  z-index: -1;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

.purple-light {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  z-index: -1;

  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}

.red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  z-index: -1;

  background: #961a1a;
  opacity: 0.5;
  -webkit-filter: blur(196px);
  filter: blur(196px);
}

@media (max-width: 900px) {
  .purple-ball {
    display: none;
  }

  .red-ball {
    display: none;
  }

  .small-red-ball {
    display: none;
  }

  .purple-light {
    display: none;
  }

  .red-light {
    display: none;
  }
}
