body {
  font-family: "Inter", sans-serif;
  background-color: $background-color;
}

.app {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  color: $light-text;

  @media (max-width: 740px) {
    padding: 0;
  }
}
