body {
  font-family: "Inter", sans-serif;
  background-color: $background-color;
}

.app {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

@media (max-width: 740px) {
  .app {
    padding: 0;
  }
}

.gradient-text {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;

  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
