//colors

$blue: #4077F3;
$gradient: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;

//text

$light-text: #E4E5EA;
$grey-text: #656566;

//Background

$background-color: #0e1014;

//Images

$imageP: "";
$imageS: "";
$imageR: "";
